#gameDiv{
	margin: 50px auto;
    width: 1000px;
	border: 5px solid black;
}
.center{
		margin :auto;
		text-align:center;
}
#title{
	width: 424px;
    height: 250px;
	display:inline-block;
}
body{
	background-color: #0071E6;
}